<section class="contact-container">
    <div class="contact-info">    <div class="contact-image">
        <img src="assets/images/ferre.jpeg" alt="Ferretería el Maestro">
    </div>
        <h2>Los mejores materiales los consigues en</h2>
        <h1>Ferremateriales el Maestro</h1>
        <p>Email: <a href="mailto:ferre@maestro.com">ferre@maestro.com</a></p>
        <p>Teléfono: ‪+58 424 000 0000‬</p>
        <p>Dirección: Calle Principal, Local 7, Caracas</p>
    </div>
    
    <div class="form-container">
        <h2>Contáctanos</h2>
        <form action="#" method="get">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" required>
        
        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" name="apellido" required>
        
        <label for="correo">Correo</label>
        <input type="email" id="correo" name="correo" required>
        
        <label for="mensaje">Mensaje</label>
        <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
    
        <button type="submit" class="submit-btn">Enviar</button>
        </form>
    </div>
</section>