<!--<div class="modal-content">
  <a href="#" class="close" class="modal-close">&times;</a>
  <div class="div-foto-model">
    <div class="foto-model"></div>
  </div>
  <div class="texto-model">
    <div class="titulo2"><h1 class="detalles">Detalles de compra</h1></div>
    <ul>
      <li><strong class="titulo">Fecha de compra:</strong> <span class="modal-fecha-compra"></span></li>
      <li><strong class="titulo">Nombre del cliente:</strong> <span class="modal-nombre-cliente"></span></li>
      <li><strong class="titulo">Cantclassad:</strong> <span class="modal-cantclassad"></span></li>
      <li><strong class="titulo">PrecioXunclassad:</strong> <span class="modal-precioxunclassad"></span></li>
      <li><strong class="titulo">Nombre del producto:</strong> <span class="modal-nombre-producto"></span></li>
      <li><strong class="titulo">Categoria del producto:</strong> <span class="modal-categoria-producto"></span></li>
    </ul>
  </div>
</div>-->
<div class="master-container">
    <a href="#" class="close modal-close" id="modal-close">&times;</a>
  <div class="card cart">
    <label class="title">Producto</label>
    <div class="products">
      <div class="product">
        <div class="div-foto-model">
            <div class="foto-model"><!-- Imagen se inyectará con JS --></div>
        </div>
        <div class="texto-div">
          <span>Nombre:</span>
          <p><span class="modal-nombre-producto"></span></p>
          <span>Categoria:</span>
          <p><span class="modal-categoria-producto"></span></p>
          <span>Proveedor:</span>
          <p><span class="modal-proveedor-producto"></span></p>
        </div>
      </div>
    </div>

  <div class="card checkout">
    <label class="title">Detalles</label>
    <div class="details">
      <span>Nombre del cliente:</span>
      <span class="modal-nombre-cliente"></span>
      <span>Documento del cliente:</span>
      <span class="modal-documento-cliente"></span>
      <span>Fecha de la compra:</span>
      <span class="modal-fecha-compra"></span>
      <span>Tipo de compra:</span>
      <span class="modal-tipo-compra"></span>
      <span>Metodo de pago:</span>
      <span class="modal-metodo-compra"></span>
      
    </div>
    <div class="checkout--footer">
      <span>Total pagado:</span>
      <span class="modal-precio-producto">$</span>
    </div>
  </div>
</div>