<h3>Nuevo reporte técnico</h3>

<p><strong>Nombre del remitente:</strong> <%= @nombre %></p>
<p><strong>Usuario afectado:</strong> <%= @usuario %></p>
<p><strong>Descripción:</strong></p>
<p><%= @descripcion %></p>
