
main{
    border: 1px solid black;
    margin: auto;
    width: 1100px;
    height: 700px;
}

header{
    border: 1px solid black;;
    height: 100px;
    display: flex;
    justify-content: center;
}

nav{
    border: 1px solid black;
    height: 50px;
    display: flex;
    justify-content: center;
}

aside{
    border: 1px solid black;
    height: 500px;
    width: 300px;
    text-align: center;
}

#main{
    display: flex;
    border: 1px solid black;
    height: 500px;
    display: flex;
    justify-content: center;
}

#content{
    border: 1px solid black;
    height: 500px;
    width: 800px;
    text-align: center;
}
