/* MAQUETADO */
main {
    margin: 0 auto;
    width: 1100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border: 1px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
  }
  
  nav {
    background-color: #ffe4b5;
    border: 1px solid black;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  
  aside {
    background-color: #ffe4b5;
    border: 1px solid black;
    height: 100%;
    width: 300px;
    text-align: center;
  }
  
  #main {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  
  #content {
    width: 800px;
    text-align: center;
  }
  
  footer {
    width: 1100px;
  }
  
  /* LOGIN */
  .base {
    background-color: #7964e1; 
    border-radius: 8px;
    width: 700px;
    height: 600px;
    margin: 100px auto;
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  }
  
  .login-container {
    background-color: #e1a464; 
    padding: 2rem;
    border-radius: 8px;
    width: 300px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ecf0f1;
  }
  
  .btn-login {
    background-color: #bdc3c7;
    color: #2c3e50;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-login:hover {
    background-color: #95a5a6;
  }
  
  #link {
    color: #b84030;
  }
  
  .field {
    margin-bottom: 10px;
  }
  
