.div-categ{
    display: flex;
    justify-content: flex-start !important;
    font-size: 17px;
    margin-left: 7px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    color: #f19544;
    margin-left: 10px;
    padding: 0;
}
.ul-nombre{
    text-decoration: none;
    margin-bottom: 7px;
    margin-left: 15px;
    padding: 0;
    width: 95%;
}
.ul-nombre:hover{
    width: 100%;
}
.li-nombre{
    font-size: 15px;
    border-radius: 60px;
    padding: 0;
    height: 40px;
    font-family: 'roboto', sans-serif;
    border:1px solid rgb(232, 177, 133);
    background-color: #ffe7c3;
}
.li-nombre a{
    color: #ec8429;
    text-decoration: none;
    height: 100%;
    width: 100%;
}
.li-nombre:hover{
    background-color: #ffd9a1;
}
.li-nombre a:hover{
    color:#ff734c;
    text-decoration: none;
    font-size: 16px;
}
.li-nombre, .li-nombre a, .new-categ, .btn-categ{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-categ{
    width: 100%;
}
.new-categ{
    text-decoration: none;
    background-color: #ec8429;
    color: white;
    font-family: 'inconsolata';
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.new-categ:hover{
    text-decoration: none;
    background-color: #ec8429;
    color: white;
    width: 35px;
    height: 35px;
}

