* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }

  body {
    background-color: #fff8f2;
  }

  header {
    background-color: #b84030;
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    background-image: url(texture-dashboard.png);
    background-size: 15%;
    background-position: center;
  }

.hamburger {
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none; /* Solo aparece en responsive */
}

  nav {
    background-color: #e2714d;
    padding: 15px 0px;
    padding-left: 90px;

  }


  .nav-bg{
    background-image: url(texture-dashboard2.png);
    background-size: 15%;
    background-position: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  nav ul li a {
    color: #fffaf4;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
  }

  nav ul li a:hover {
    color: #ffcc9c;
  }

  section {
    height: auto;
    /*padding: 50px 20px;*/
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    /*gap: 25px;*/
  }

  .section-card{
    height: 280px;
    padding: 3% 9%;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
  }


.chart-container1 {
  width: 30%; 
  min-width: 300px; 
  padding: 30px; 
  padding-top: 4%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-image: url(background.png);
  justify-content: center;
  flex-direction: column;
}

.chart-container2 {
  width: 20%; 
  min-width: 300px; 
  padding: 20px;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-image: url(background.png);
  justify-content: center;
  flex-direction: column;
}

.chart-container3 {
  width: 30%; 
  min-width: 300px; 
  padding: 20px; 
  padding-top: 4%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-image: url(background.png);
  justify-content: center;
  flex-direction: column;
}

.chart-container canvas,
.chart-container svg {
  width: 100% !important;
  height: auto !important;
  max-width: 100%;
}

  .welcome{
    padding: 5%;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    width: 100%;
    height: 100%;
    background-image: url(background.png);
    background-size: 100%;
  }

  .container-header{
    margin: auto;
    color: white;

  }

  .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

  }

  .img-empresa{
    position: absolute;
    left: 20px;
  }

.menu-container {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #d35400;
}

.menu-container.active {
  display: flex;
}

  .menu {
    display: flex;
    gap: 30px;
    margin: 0 auto;
  }

  .menu.active {
  display: flex;
}
  
  .logout2{
    display: none;
  }

  .logout {
    color: #fffaf4;
    font-weight: bold;
    text-decoration: none;
    border: none;
    background: none;
    font-size: 14px;
  }
  
  .logout:hover {
    color: #ffcc9c;
  }

  .card {
    background: #fff4ec;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s;
    background-image: url(background.png);
    background-size: 100%;
    
  }
  .card-link{
  text-decoration: none;
  color: inherit;
  }
  .card:hover {
    transform: translateY(-4px);
  }

  .card h3 {
    color: #b84030;
    margin-bottom: 10px;
  }

  .card p {
    font-size: 1.4rem;
    color: #8e3e2d;
  }

  footer {
    background-color: #b84030;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 0.95rem;
  }

  @media (max-width: 900px) {

  .nav-bg {
    position: fixed;
    top: 3%;
    padding-top: 10%;
    padding-bottom: 1%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
  }



  body {
    padding-top: 15%;
  }

  .link-menu{
     display: block;
      width: 100%;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border: none;
      background-color: #b84030;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
  }

  .container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
  }

  .hamburger {
    display: block;
    padding-left: 2%;
  }


  .menu-container {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .menu-container.active {
    display: flex;
  }

  .menu.active{
    background-color: transparent;
    flex-direction: row;
  }

  .menu-container ul {
    flex-direction: row;
    width: 100%;
    text-align: center;
  }

  .menu li {
    margin: 10px 0;
  }
  
  header {
    font-size: 200%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
  }

  nav {
    padding: 0%;
    padding-bottom: 3%;
  }

.chart-container-base{
    display: flex;
    align-content: space-around;
    flex-direction: column;
}

  .chart-container1, .chart-container2, .chart-container3{
    width: 80%;
  }

  #tortaChart {
  width: 70% !important;
  height: 70% !important;
}


  nav ul li a {
    color: #fffaf4;
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
  }

  .welcome{
    padding-bottom: 10%;
    border-radius: 10px;
    font-size: 100px;
  }

  .container-nav {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  background-color: #E2714D;
}


  .menu li {
    text-align: center;
    margin: 10px 0;
  }

  .logout {
  margin-top: 20px;
  background-color: #b84030;
  padding: 10px 200px;
  border-radius: 6px;
  border: none;
  font-size: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
  display: none;
  }

 .logout2{
    display: block;
    background-color: transparent;
    border: solid 0px;
    color: white;
    font-size: 70%;
  }


 .section-card{
    height: auto;
    padding: 3% 9%;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
  }

  .chart-container {
    width: 400px
  }

  .welcome {
    font-size: 28px;
    padding-top: 40px;
  }
}

@media (max-width: 600px) {

  .nav-bg {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
  }



  body {
    padding-top: 20%;
  }

  .link-menu{
     display: block;
      width: 300px;
      height: auto;
      padding: 10px;
      border: none;
      background-color: #b84030;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
  }

  .container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
    font-size: 50%;
  }

  .hamburger {
    display: block;
    padding-left: 2%;
    font-size: 100%;
  }


  .menu-container {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .menu-container.active {
    display: flex;
  }

  .menu.active{
    background-color: transparent;

  }

  .menu-container ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .menu li {
    margin: 10px 0;
  }
  

  header {
    font-size: 200%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
  }

  nav {
    padding: 0%;
    padding-bottom: 3%;
  }

.chart-container-base{
    display: flex;
    align-content: space-around;
    flex-direction: column;
}

  .chart-container1, .chart-container2, .chart-container3{
    width: 80%;
  }

  #tortaChart {
  width: 80% !important;
  height: 80% !important;
}


  nav ul li a {
    color: #fffaf4;
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
  }

  .welcome{
    padding-bottom: 10%;
    border-radius: 10px;
    font-size: 100px;
  }

  .container-nav {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  background-color: #E2714D;
}


  .menu li {
    text-align: center;
    margin: 10px 0;
  }

  .logout {
  margin-top: 20px;
  background-color: #b84030;
  padding: 10px 200px;
  border-radius: 6px;
  border: none;
  font-size: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
  display: none;
  }

 .logout2{
    display: block;
    background-color: transparent;
    border: solid 0px;
    color: white;
    font-size: 70%;
  }


 .section-card{
    height: auto;
    padding: 3% 9%;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
  }

  .chart-container {
    width: 400px
  }

  .welcome {
    font-size: 100%;
    padding-top: 40px;
  }
}