#cerrar{
display: grid;
} 
#color label{
    color: #fbfbfb;
}
.login-container {
    background-color: #e1a464;
    padding: 2rem;
    border-radius: 8px;
    width: 300px;
    margin: 100px auto;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.form-control {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ecf0f1;
  }

  .btn-login {
    background-color: #bdc3c7;
    color: #2c3e50;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
  }

  .btn-login:hover {
    background-color: #4afd0e;
  }

  #link{
    color: #b84030;
  }

  .form{
    display: ruby-text;
  }