.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    gap: 0;
    height: auto;
}
#sect1{
    display:flex;
    align-items: center;
    flex-direction: column ;
    width: 35%;
    max-width: 100%;
    height: auto !important;
    box-shadow:
    -5px 0 10px -1px rgb(189, 187, 185),
     5px 0 10px -1px rgb(189, 187, 185);
    padding: 0;
    margin-left: 10px;
    gap: 0;
}
#grafica{
    width: 80% !important;
    max-height: 250px !important;
    margin-bottom: 50px;
}
.degradado{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#ffd8b5, white);
}
.div-white{
    width: 100%;
    height: 160px;
    background: white;
}
.conten{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 45px;
    margin-top: 25px;
}
.info3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 25px;
    width: 70px;
    height: 70px;
    border:1px solid #e2714d;
    background-color: #ffead8;
}
.titulo-cant{
    margin-top: 40px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
    color: #e2714d;
}
.info{
    font-family: 'roboto', sans-serif;
    color: #e2714d;
    font-size: 10px;
    margin-bottom: 5px;
}
.info2{
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    color: #e2714d;
    margin-top: 5px;
}
/*filtros*/
#sect2{
    padding: 0;
    margin: 0;
    gap: 0;
    width: 100%;
    height: auto;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-filtros{
    background-color: white;
    border: solid 1px #ffd8b5;
    border-radius: 15px;
    margin: 10px;
    margin-right: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 95%;
}
.p{
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    color: #dd5a48;
}
.filtros{
    display: flex;
    flex-direction: row;
}
.filtro-id{
    margin-right: 20px;
}
.filtro-fecha{
    margin-right: 20px;
}
input::placeholder {
    color: #d2d2d2;
}
.btn-save{
    background-color: transparent;
    border: none !important;
    cursor: pointer;
    margin-right: 20px;
}
.btn-save, i{
    color:#dd5a48;
    font-size: 17px;
}
.cont-ventas{
    height: 250px;
    width: 90%;
    padding: 0;
    height: auto;
}
.div-purchase{
    width: 48%;
    padding: 10px;
    color:white;
    border: solid 2px #dd5948d7;
    background-color: #dd5948a6;
    margin-bottom: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
}
.div-purchase div{
    margin-left: 8px;
}
#buys{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.new-purcha {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    padding: 12px 20px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
    background-color:  #dd5948;
    color: white;
    font-family: 'inconsolata';
    font-size: 25px;
    font-weight: bold;
}

.new-purcha:hover {
    background-color: #d54633;
}
.a-volver{
    display: flex;
    justify-content: flex-start !important;
    font-size: 17px;
    margin-left: 7px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    color: #ff8b3e;
    margin-left: 10px;
    padding: 0;
}