<div id="<%= dom_id customer %>" class="cli">
  <p class="p-id">
    <%= customer.id %>
  </p>
  <p class="p-name">
    <%= link_to customer.nombre, clientes_path(customer_id: customer.id) %>
  </p>
</div>
