<!--<p style="color: green"><%= notice %></p>-->

<% content_for :title, "proveedor" %>

<div id="proveedor">
  <% @proveedor.each do |product| %>
    <%= render proveedor %>
  <% end %>
</div>
<%= link_to "Back to proveedores", proveedors_path %>
<!--<%= link_to "proveedor", proveedor_patch %>-->
