<h1>Proveedores#proveedor</h1>
<% content_for :title, "Nuevo proovedor" %>

<h1>Nuevo proovedor</h1>

<%= render "form", proveedor: @proveedor %>

<br>

<div>
  <%= link_to "Devolver a la lista general", proveedores_path %>
</div>
