<div class="container mt-5">
  <h1><i class="fa-solid fa-cart-shopping"></i> <%= t("cart.title") %></h1>

  <%= turbo_frame_tag "cart_items" do %>
    <%= render partial: "carts/cart_items", locals: { cart_items: @cart_items } %>
  <% end %>
</div>