<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashboard Ferretería</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-chart-radial-gauge@0.3.0/build/index.umd.js"></script>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag "dashboard", media: "all" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>

  <header>
    <div class="container-header">
      <button class="hamburger" id="hamburger">&#9776;</button>
      <p class="pricipal">Ferremateriales el Maestro - Dashboard</p>
      <% if user_signed_in? %>
        <%= button_to destroy_user_session_path, method: :delete, form: { data: { turbo: true } }, id: "cerrar", class: "logout2" do %>
          <span><i class="fas fa-sign-out-alt"></i></span>
        <% end %>
      <% end %>
    </div>
  </header>

  <nav class="nav-bg">
    <div class="container-nav">
      <ul class="menu" id="menu">
        <li><a href="dashboard"class="link-menu">Inicio</a></li>
        <li><a href="inventario"class="link-menu">Inventario</a></li>
        <li><a href="ventas"class="link-menu">Ventas</a></li>
        <li><a href="proveedores"class="link-menu">Proveedores</a></li>
        <li><a href="clientes"class="link-menu">Clientes</a></li>
      </ul>
      <% if user_signed_in? %>
        <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, form: { data: { turbo: true } }, id: "cerrar", class: "logout"%>
      <% end %>
    </div>
  </nav>

  <section class="fondo">
    <section class="section-1">
      <div class="grafica-1">
        <section class="graf-1">grafica 1 (Nuevos clientes por mes)</section>
        <section class="texto-1">
          <div class="titulo-1">Registros de <div>112</div> clientes nuevos</div>
          <div class="texto-1-1">Este dato permite visualizar la evolución del negocio y el ritmo con el que se incrementa la cantidad
             de personas que acceden por primera vez a nuestros productos y servicios.</div>
        </section>
      </div>
      <div class="grafica-2">
        <section class="texto-2">
          <section class="texto-2-1"><div class="titulo-2">Ventas por categoría de producto</div>Este gráfico presenta la distribución de
           ventas por categorías de productos, permitiendo identificar cuáles generan mayores ingresos y aportan más al rendimiento general del negocio.</section>
          <div class="img-2">grafica (Cantidad total de productos en stock)</div>
        </section>
        <section class="graf-2">grafica 2 (Ventas por categoría de producto)</section>
      </div>
      <div class="grafica-3">
        <section>
          <div>grafica (ingresos)</div>
          <div class="texto-3">Total de dinero recibido por ventas y otras entradas durante el periodo.</div>
        </section>
        <section>
          <div>grafica (egresos)</div>
          <div class="texto-3">Total de dinero destinado a compras, pagos y gastos operativos del periodo.</div>
        </section>
      </div>
    </section>
    <section class="section-2">
      <div class="grafica-4">
        <section class="texto-4">
          <div class="texto-4-2"><div class="titulo-4">Ventas por método de pago y canal</div>Este gráfico muestra las ventas según su canal de origen 
          (física, online y por cotización) y el método de pago utilizado en tienda. La información permite analizar el comportamiento de compra del
           cliente y mejorar la gestión comercial y financiera.</div>
          <div class="graf-4-1">grafica 4.1 (Venta física, Venta online y Venta por cotización)</div>
        </section>
        <section class="graf-4-2">grafica 4.2 (Ventas por método de pago)</section>
      </div>
      <div class="grafica-5">
        <section class="texto-5"><div class="titulo-5">Ventas por día / semana / mes</div>Esta sección muestra el total de ventas realizadas durante el periodo 
        seleccionado (diario, semanal o mensual). La información permite identificar tendencias, evaluar el rendimiento y apoyar la toma de decisiones estratégicas.</section>
        <section class="graf-5">
          <div><div class="graf-5-2">grafica Ventas por día pink</div><div class="texto-5-2">Día (<div>10</div>)</div></div>
          <div><div class="graf-5-2">grafica Ventas por semana purple</div><div class="texto-5-2">Semana (<div>80</div>)</div></div>
          <div><div class="graf-5-2">grafica Ventas por mes blue</div><div class="texto-5-2">Mes (<div>130</div>)</div></div>
        </section>
      </div>
    </section>
  </section>
  <footer>
    &copy; 2025 Ferremateriales el Maestro - v2.3.7
  </footer>
  
<script>
  const ctx = document.getElementById('grafica').getContext('2d');

    // Crear degradado
    const gradient = ctx.createLinearGradient(0, 0, 0, 200);
    gradient.addColorStop(0, 'red');
    gradient.addColorStop(1, 'blue');

    new Chart(ctx, {
      type: 'radialGauge',
  data: {
    datasets: [{
      data: [80],
      backgroundColor: [
        gradient,
          '#3a3f51'
      ],
    }]
  },
  options: {
    // See https://github.com/pandameister/chartjs-chart-radial-gauge#options
    domain: [0, 100],
    trackColor: '#f0f8ff', 
    centerPercentage: 90,
    centerArea: {
      text: (val) => val + '%',
    },
  }
    });
</script>


</body>
</html>
