<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashboard Ferretería</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag "dashboard", media: "all" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>

  <header>
    <div class="container-header">
      <button class="hamburger" id="hamburger">&#9776;</button>
      <p class="pricipal">Ferremateriales el Maestro - Dashboard</p>
      <% if user_signed_in? %>
        <%= button_to destroy_user_session_path, method: :delete, form: { data: { turbo: true } }, id: "cerrar", class: "logout2" do %>
          <span><i class="fas fa-sign-out-alt"></i></span>
        <% end %>
      <% end %>
    </div>
  </header>

  <nav class="nav-bg">
    <div class="container-nav">
      <ul class="menu" id="menu">
        <li><a href="dashboard"class="link-menu">Inicio</a></li>
        <li><a href="inventario"class="link-menu">Inventario</a></li>
        <li><a href="ventas"class="link-menu">Ventas</a></li>
        <li><a href="proveedores"class="link-menu">Proveedores</a></li>
        <li><a href="clientes"class="link-menu">Clientes</a></li>
      </ul>
      <% if user_signed_in? %>
        <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, form: { data: { turbo: true } }, id: "cerrar", class: "logout"%>
      <% end %>
    </div>
  </nav>

  <section class="fondo">
    <section class="section-1">
      <div class="grafica-1"></div>
      <div class="grafica-2"></div>
      <div class="grafica-3"></div>
    </section>
    <section class="section-2">
      <div class="grafica-4"></div>
      <div class="grafica-5"></div>
    </section>
  </section>
  <footer>
    &copy; 2025 Ferremateriales el Maestro - v2.3.7
  </footer>
  
<script>
  const ctx = document.getElementById('ventasChart').getContext('2d');
  const ventasChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes'],
      datasets: [{
        label: 'Ventas por día',
        data: [500, 700, 1200, 900, 1850],
        backgroundColor: 'rgb(70, 130, 180)',
        borderColor: 'black',
        borderWidth: 1,
        borderRadius: 5
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          ticks: {
            color: 'white' ,
            callback: function (value) {
              return '$' + value;
          }
        }
      },
      x: {
        ticks: {
          color: "#ffffff" // color eje X
        }
      }
    },
    plugins: {
      legend: {
        labels: {
          color: "#ffffff" // color leyenda
        }
      }
    }
  }
});

  const ctx2 = document.getElementById('tortaChart').getContext('2d');
  new Chart(ctx2, {
    type: 'pie',
    data: {
      labels: ['Herramientas', 'Materiales', 'Accesorios', 'Pinturas'],
      datasets: [{
        label: 'Distribución de Inventario',
        data: [120, 80, 70, 50],
        backgroundColor: [
          '#4A90E2',
          '#5DADE2',
          '#85C1E9', 
          '#AED6F1' 
        ],
        borderColor: 'black',
        borderWidth: 2
      }]
    },
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: 'bottom',
          labels: {
            color: "#ffffff"
          }
        }
      }
    }
  });

  const ctx3 = document.getElementById('lineChart').getContext('2d');
  new Chart(ctx3, {
    type: 'line',
    data: {
      labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio'],
      datasets: [{
        label: 'Ventas Mensuales',
        data: [1200, 1500, 1800, 1600, 2000, 2400],
        fill: false,
        borderColor: 'black',
        backgroundColor: '#3498DB',
        tension: 0.3,
        pointBackgroundColor: '#fff',
        pointBorderColor: '#3498DB'
      }]
    },
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: 'top',
          labels: {
            color: 'white'
          }
        }
      },
      scales: {
      x: {
        ticks: {
          color: '#ffffff'               // Texto del eje X
        }
      },
      y: {
        beginAtZero: true,
        ticks: {
          color: '#ffffff'               // Texto del eje Y
        }
      }
    }
  }
});

  const btn = document.getElementById("hamburger");
  const menu = document.getElementById("menu");

  btn.addEventListener("click", () => {
    menu.classList.toggle("active");
  });
</script>


</body>
</html>
