<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashboard Ferretería</title>
  <%= stylesheet_link_tag "dashboard", media: "all" %>
</head>
<body>

  <header>
    <div class="container-header">

      <p>Ferremateriales el Maestro - Dashboard</p>
    </div>
  </header>

  <nav>
    <div class="container-nav">
      <ul class="menu">
        <li><a href="dashboard">Inicio</a></li>
        <li><a href="inventario">Inventario</a></li>
        <li><a href="ventas">Ventas</a></li>
        <li><a href="proveedores">Proveedores</a></li>
        <li><a href="clientes">Clientes</a></li>
      </ul>
          <% if user_signed_in? %>
            <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, form: { data: { turbo: true } }, id: "cerrar", class: "logout"%>
          <% end %>
    </div>
  </nav>

  <section class="img-dashboard-background">
    <div class="welcome">
        <p>Hola, bienvenidos a nuestro Dashboard sobre el negocio de Ferremateriales el Maestro</p>
    </div>
    
  </section>

  <section>

    <div class="card">
      <h3>Productos en Stock</h3>
      <p>320</p>
    </div>
    <div class="card">
      <h3>Ventas Hoy</h3>
      <p>$1,850</p>
    </div>
    <div class="card">
      <h3>Pedidos Pendientes</h3>
      <p>7</p>
    </div>
    <div class="card">
      <h3>Clientes Registrados</h3>
      <p>120</p>
    </div>
  </section>

  <footer>
    &copy; 2025 Ferremateriales el Maestro - Todos los derechos reservados
  </footer>

</body>
</html>