<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashboard Ferretería</title>
  <%= stylesheet_link_tag "dashboard", media: "all" %>
  <%= stylesheet_link_tag "ventas"%>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

  <header>
    <div class="container-header">
      <div class="img-empresa">
        <img src="img/test.png" alt="" width="60px">
      </div>
      <p>Ferremateriales el Maestro - Dashboard</p>
    </div>
  </header>

  <nav>
    <div class="container-nav">
      <ul class="menu">
        <li><a href="dashboard">Inicio</a></li>
        <li><a href="inventario">Inventario</a></li>
        <li><a href="ventas">Ventas</a></li>
        <li><a href="proveedores">Proveedores</a></li>
        <li><a href="clientes">Clientes</a></li>
      </ul>
      <div>
          <% if user_signed_in? %>
            <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, form: { data: { turbo: true } }, id: "cerrar", class: "logout"%>
          <% end %>
        </div>
    </div>
  </nav>

  <section class="container">
    <section id=sect1>
      <canvas id="grafica"></canvas>
      <script>
        new Chart(document.getElementById('grafica'), {
          type: 'line',
          data: {
            labels: ['Hoy', 'Semana', 'Mes', 'Año'],
            datasets: [
              {
                label: 'hoy',
                data: [10, 20, 15, 25],
                borderColor: 'pink',
                backgroundColor: 'red',
                tension: 0.3
              },
              {
                label: 'semana',
                data: [20, 30, 25, 35],
                borderColor: 'violet',
                backgroundColor: 'darkviolet',
                tension: 0.3
              },
              {
                label: 'mes',
                data: [5, 15, 10, 18],
                borderColor: 'lightgreen',
                backgroundColor: 'green',
                tension: 0.3
              },
              {
                label: 'año',
                data: [2, 17, 40, 60],
                borderColor: 'lightblue',
                backgroundColor: 'blue',
                tension: 0.3
              }
            ]
          },
          options: {
            responsive: true,
            plugins: {
              title: {
                display: true,
                text: 'Comparativa por período'
              }
            },
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
</script>
    </section>
    <section id=sect2>
      mundo

    </section>
  </section>

  

  <footer>
    &copy; 2025 Ferremateriales el Maestro - Todos los derechos reservados
  </footer>

</body>
</html>