
<% content_for :title, "Editing product" %>

<h1 class="new">Editar producto</h1>

<%= render "form", product: @product %>
<br>


<div class="opc">
  <%= link_to "Volver", products_path %>
  <%= button_to "Eliminar", @product, method: :delete, data: { confirm: "¿Estás segura que quieres eliminar este producto?" } %>
</div>