
<% content_for :title, "Editing product" %>

<h1 class="new">Editar producto</h1>

<%= render "form", product: @product %>
<br>


<div class="opc">
  <%= link_to "Show this product", @product %> |
  <%= link_to "Back to products", products_path %>
  <%= link_to "Eliminar", product_path(@product), method: :delete, data: { confirm: "¿Estás segura que quieres eliminar este producto?" }, class: "eliminar" %>
</div>