<h1 class=h1>Detalles de la Compra 🛒</h1>
              <section class=n1>
                <section class=n2>
                  <h1 class=h11>Datos del Cliente</h1>
                  <div class=deta-cliente>
                    <p><strong>Id del usuario cliente: </strong><span id="modal-cliente-id"></span></p>
                    <p><strong>Nombre: </strong><span id="modal-cliente-nombre"></span></p>
                    <p><strong>Numero de identificacion: </strong><span id="modal-cliente-documento"></span></p>
                    <p><strong>Contacto/telefono: </strong><span id="modal-cliente-telefono"></span></p>
                  </div>
                  <h1 class=h11>Datos del Producto</h1>
                  <div class=deta-produ>
                    <p><strong>Id del producto: </strong><span id="modal-producto-id"></span></p>
                    <p><strong>Nombre: </strong><span id="modal-producto-nombre"></span></p>
                    <p><strong>Descripcion: </strong><span id="modal-producto-descripcion"></span></p>
                    <p><strong>Precio: </strong><span id="modal-producto-precio"></span></p>
                    <p><strong>PrecioXunidad: </strong><span id="modal-producto-precioxunidad"></span></p>
                    <p><strong>Categoria del producto: </strong><span id="modal-producto-categoria"></span></p>
                    <p><strong>Proveedor del producto: </strong><span id="modal-producto-proveedor"></span></p>
                  </div>
                  <h1 class=h11>Datos de la Compra</h1>
                  <div class=deta-compra>
                    <p><strong>Id de la compra: </strong><span id="modal-compra-id"></span></p>
                    <p><strong>Fecha: </strong><span id="modal-compra-fecha"></span></p>
                    <p><strong>Cantidad total de los productos comprados: </strong><span id="modal-compra-cantidad"></span></p>
                    <p><strong>Contacto/telefono del proveedor: </strong><span id="modal-compra-proveedor"></span></p>
                  </div>
                </section>
                <section class=n3>
                  <h1 class=h11>Imagen del Producto</h1>
                  <div class="div-foto" id="modal-producto-foto"></div>
                </section>
              </section>