<% content_for :title, "Editing purchasedetail" %>

<h1>Editing purchasedetail</h1>

<%= render "form", purchasedetail: @purchasedetail %>

<br>

<div>
  <%= link_to "Show this purchasedetail", @purchasedetail %> |
  <%= link_to "Back to purchasedetails", purchasedetails_path %>
</div>
