<% content_for :title, "New purchasedetail" %>

<h1>New purchasedetail</h1>

<%= render "form", purchasedetail: @purchasedetail %>

<br>

<div>
  <%= link_to "Back to purchasedetails", purchasedetails_path %>
</div>
